
@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
  margin: 0;
  height: 100%;
}

body{
  /* Footer always at bottom of window, even on pages with short content */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

#content {
    margin: 2em;
}

#content .columns {
  display: grid;
}

#content .columns.col-2 {
  grid-template-columns: repeat(2, 48%);
  gap: 4%;
}

#content .columns.col-3 {
  grid-template-columns: repeat(3, 31%);
  gap: 4%;
}

#content .columns.col-4 {
  grid-template-columns: repeat(4, 22.75%);
  gap: 3%;
}

#content .columns img {
  border-radius: 1em;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

#content h1 {
  font-size: 2em;
}

#content h2 {
  font-size: 1.5em;
}

#content h2:not(:first-of-type) {
  margin-top: 2em;
}

#content .columns h3 {
  margin-top: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu > li a {
  color: white;
  text-decoration:none;
  line-height: 2em;
  padding: 0.5em;
}
.menu > li a:hover {
  color: yellow;
  background-color: rgba(255,255,255,0.3);
}

.menu > li.active a {
  color: #f46b45;
  background-color: white;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#frmKontakt .formTitel {
font-size: 1em;
font-weight: bold;
margin-bottom: 0.5em;
}

#frmKontakt input, label {
  display:block;
}

#frmKontakt input {
  width:50%;
  margin-bottom: 0.5em;
  padding: 0.3em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#frmKontakt label {
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

#frmKontakt button {
  background-color: #f46b45;
  border: 1px solid #f46b45;
  border-radius: 5px;
  color: white;
  padding: 0.8em;
}

#frmKontakt button[type=reset] {
  background-color: transparent;
  color: #f46b45;
}

/* responsive rules */
@media (max-width: 60em) {
  #content .columns.col-4 {
    grid-template-columns: repeat(3, 31%);
    gap: 4%;
  }
}

@media (max-width: 40em) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li a {
    line-height: 1em;
  }

  .menu > li.active a,
  .menu > li a:hover {
    background-color: transparent;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  
  #content .columns.col-4, 
  #content .columns.col-3 {
    grid-template-columns: repeat(2, 48%);
    gap: 4%;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #414141, #929292);
  color: #FFF;
  height: 50px;
  padding: 1em;
}
footer a {
  text-decoration: none;
  color: white;
}